font-face {
    font-family: "Ivy";
    src: url("./dear\ ivy\,.otf");
  }
  
  @font-face {
    font-family: "성실체";
    src: url("./나눔손글씨\ 성실체.ttf");
  }
  
  @font-face {
    font-family: "시우체";
    src: url("./나눔손글씨\ 시우\ 귀여워.ttf");
  }
  
  @font-face {
    font-family: "bold";
    src: url("./MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf");
  }
  
  @font-face {
    font-family: "thin";
    src: url("./MADE\ Bon\ Voyage\ Thin\ PERSONAL\ USE.otf");
  }
  
  @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
  
  .jejumyeongjo * {
    font-family: "Jeju Myeongjo", serif;
  }
  
  @font-face {
    font-family: "UhBeeann";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeann.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "thin";
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* zoom: 100%; */
  }
  
  .container {
    width: 375px;
    height: 812px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .header {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  .main-container {
    height: 100%;
    width: 100%;
    background-color: #1f1d1d;
    display: grid;
    grid-template-columns: 20% 60%;
    position: relative;
    padding-top: 20px;
  }
  
 
  .right-box {
    background-image: url("./KakaoTalk_20210708_152740796.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    width: 300px;
    margin-left: 40px;
    filter: grayscale(80%);

  }
  
  .main-letter {
    position: absolute;
    background-color: #fafafa;
    width: 300px;
    height: 400px;
    top: 300px;
    left: 40px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    overflow: scroll;
    box-sizing: border-box;
  }
  
  .name {
    color: #fafafa;
    font-size: 15px;
    padding-left: 10px;
  }
  
  .birthday {
    color: #fafafa;
    padding-right: 10px;
  }
  
  .tojiyoung {
    margin-bottom: 100px;
    font-size: 10px;
  }
  
  .birthday-in-letter {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
    font-family: "bold";
  }
  
  .reamme {
    text-decoration: underline;
    margin-bottom: 20px;
  }
  
  
  
  @keyframes arrow {
    0% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  .real-letter {
    font-family: "UhBeeann";
    font-size: 20px;
    line-height: 30px;
  }
  
  .real-letter-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0px 5px;
    box-sizing: border-box;
  }
  